$darkmode: true;
$primary: #cabeff;
$onPrimary: #301f78;
$primaryContainer: #473890;
$onPrimaryContainer: #e7deff;
$secondary: #c9c3dc;
$onSecondary: #312e41;
$secondaryContainer: #484459;
$onSecondaryContainer: #e6dff9;
$tertiary: #edb8cd;
$onTertiary: #482535;
$tertiaryContainer: #623b4c;
$onTertiaryContainer: #ffd9e8;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1c1b1e;
$background: #1c1b1e;
$onBackground: #e5e1e5;
$surface: #1c1b1e;
$onSurface: #e5e1e5;
$surfaceVariant: #48454f;
$onSurfaceVariant: #c9c4d0;
$outline: #938f99;
$shadow: #000000;
$inverseSurface: #e5e1e5;
$inverseOnSurface: #313033;
$inversePrimary: #5f51aa;
